*.pyc
/.project
/.pydevproject
/.settings/org.eclipse.core.resources.prefs
extensions/.project
*.out
extensions/fablabchemnitz/animate_order/drawing.svg
extensions/fablabchemnitz/animate_order/animate_order.html
extensions/fablabchemnitz/DebugPath2Flex.txt
